<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'imageClassification/css/site.css' %}">

    <title> {% block title %}{% endblock %} | Tumor Image Pridiction Tool</title>
  </head>
  <body>
    {% block nav %}
    {% endblock %}

    {% block header %}
    {% endblock %}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    {% block section %}
    {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="{% static 'imageClassification/js/script.js' %}"></script>
    {% block script %}
    {% endblock %}
  </body>
  <footer class="bg-primary py-5 text-white">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 text-center">
          <h2>About</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea ad sunt at quidem iure corrupti pariatur! Iure sunt, facere nesciunt soluta minima aliquam et nemo sequi maxime perferendis inventore consequuntur!
          </p>
        </div>
        <div class="col-lg-6 col-md-12 text-center">
          <h2>Address</h2>
          <address>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Qui, sequi? Perferendis soluta eius numquam.
            Aspernatur, rem ea. Obcaecati, animi error.
            Laborum delectus corporis corrupti dolores reiciendis ab ullam id velit?
          </address>
        </div>
      </div>
      <hr class="my-4 bg-light"/>
      <p class="text-center">
        copyright &copy; 2020
      </p>
    </div>
  </footer>
</html>