{% extends 'imageClassification/_layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block nav %}

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <h1 class="navbar-brand display-4">welcome! {{user.username}}</h1>
            <ul class="navbar-nav nav-right ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'logout' %}">logout</a>
                </li>
            </ul>
        </nav>
    
{% endblock %}

{% block section %}
<div class="section-process">
    <div class="container">
        <!-- messages -->
        {% if file != Null %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong> File Uploaded
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        <!-- messages -->
        <h1 class="text-white text-center">
            Tumour Image prediction using Deep Learning
        </h1>
        <div class="row pt-5">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header bg-secondary text-white">
                        <h5 class="card-title w-75" style="display: inline-block;">File Upload</h5>
                        <a href="{% url 'createNew' %}" class="btn btn-info" style="display: inline-block;">New &plus;</a>
                    </div>
                    <div class="card-body bg-light">
                        <form id="fileuploadForm" action="{% url 'uploadFile' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% if file != Null %}
                                <div class="form-group">
                                    <label for="sampleFile">Upload File</label>
                                    <input type="file" class="form-control-file" name="sampleFile" id="sampleFile" accept="application/zip, image/*" disabled/>
                                </div>
                                <button class="btn btn-secondary" id="fileuploadFormBtn" disabled = true >Upload</button><br>
                                File Name: {{file}}
                            {% else %}
                                <div class="form-group">
                                    <label for="sampleFile">Upload File</label>
                                    <input type="file" class="form-control-file" name="sampleFile" id="sampleFile" accept="application/zip, image/jpeg, image/jpg, image/png" required/>
                                </div>
                                <button class="btn btn-success" id="fileuploadFormBtn"  >Upload</button>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header bg-secondary text-white">
                        <h5 class="card-title">Preprocessing</h5>
                    </div>
                    <div class="card-body bg-light">
                        <form action="{% url 'processPrediction' %}" method="POST">
                            {% csrf_token %}
                            {% if filelist|length > 0 %}
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" name="resize" id="resize" disabled required>
                                        <label class="custom-control-label" for="resize">Resize</label>
                                    </div>

                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" name="grayscale" id="grayscale" disabled required>
                                        <label class="custom-control-label" for="grayscale">Neural Network</label>
                                    </div>
                                </div>
                                <button class="btn btn-success" disabled>Processing Complete &#10003; </button>
                            {% else %}
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" name="resize" id="resize" required>
                                        <label class="custom-control-label" for="resize">Resize</label>
                                    </div>

                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" name="grayscale" id="grayscale" required>
                                        <label class="custom-control-label" for="grayscale">Neural Network</label>
                                    </div>
                                </div>
                                <button class="btn btn-success">Start Processing</button>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body bg-light">
                            <a class="btn btn-lg btn-block btn-success" data-toggle="collapse" href="#resultbox" role="button" aria-expanded="false" aria-controls="resultbox">Show Result</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-secondary text-white">
                        <h5 class="card-title">Images</h5>
                    </div>
                    <div class="card-body bg-light collapse" id="resultbox">
                        {% if filelist|length > 0 and predictlist|length > 0 %}
                            {% for file in filelist %}
                                <figure class="figure">
                                    <img src="{{file}}" class="figure-img img-fluid rounded" height="75px" width="75px" alt="predicted_img">
                                </figure>
                            {% endfor %}
                            {% for pred in predictlist %}
                                {{pred}}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
